.c-slider
{
    position: relative;

    overflow: hidden;

    width: 1440px;
    height: 360px;

    color: #fff;
    background-color: gray;

    a
    {
        cursor: pointer;
    }

    img
    {
        position: absolute;
        top: 0;
        left: 0;

        max-width: 100%;
        max-height: 100%;
    }

    // arrow
    .arrow
    {
        position: absolute;
        z-index: 1;
        top: 47%;

        width: 20px;
        height: 20px;

        cursor: pointer;
        transform: rotate(45deg);

        border: 3px solid #fff;
    }

    .arrow-left
    {
        left: 3%;

        border-top: none;
        border-right: none;
    }

    .arrow-right
    {
        right: 3%;

        border-bottom: none;
        border-left: none;
    }

    // content
    .content
    {
        position: absolute;
        top: 15%;
        left: 25%;

        width: 50%;
        height: 60%;

        text-align: center;

        background-color: rgba(0, 0, 0, 0);

        .description
        {
            height: 40%;

            word-wrap: break-word;
        }

        .link
        {
            height: 30%;

            .go
            {
                line-height: 30px;

                width: 20%;
                height: 30px;
                margin: auto;

                border: 0;
                background-color: #ef8002;
            }
        }
    }

    // dots
    .dots
    {
        position: absolute;
        top: 85%;
        left: 46%;

        width: 8%;

        text-align: center;
        > div
        {
            display: inline-block;

            width: 10px;
            height: 10px;
            margin: 5px;

            cursor: pointer;

            border-radius: 50%;
            background-color: #2a170a;
        }

        > div.active
        {
            width: 15px;
            height: 15px;
            margin-bottom: 3px;

            background-color: #fff;
        }
    }

    // img transition
    .sliderLeft-enter
    {
        left: 100%;
    }
    .sliderLeft-enter-active
    {
        left: 0;

        transition: left 500ms ease-in;
    }
    .sliderLeft-leave
    {
        left: 0;
    }
    .sliderLeft-leave-active
    {
        left: -100%;

        transition: left 500ms ease-in;
    }
    .sliderRight-enter
    {
        left: -100%;
    }
    .sliderRight-enter-active
    {
        left: 0;

        transition: left 500ms ease-in;
    }
    .sliderRight-leave
    {
        left: 0;
    }
    .sliderRight-leave-active
    {
        left: 100%;

        transition: left 500ms ease-in;
    }
}
